/*main*/
main{
    width: 100vw;
    height: 100%;
    overflow-x: hidden;
    display: block;
    justify-items: center;
}
/*tipos de titulo*/
.titulo_home_page_tipo1{
    text-align: center;
    margin: 10px 0 10px 0;
    font-size: 2rem;
}
.titulo_home_page_tipo2{
    text-align: center;
    margin: 10px 0 10px 0;
    font-size: 1.5rem;
}

/* 

.tela_tres{
    padding: 5px;
    width: 90vw;
    height: 90vh;
    overflow-x: hidden;
    border: 3px solid red;
} */