main{
    width: 100vw;
    height: 100%;
    background-color: aquamarine;
}
/*intro com imagem*/
.first_section{
    height: 40vh;
    width: 100%;
    border: 3px solid yellowgreen;   
}
.first_section>.content_img_intro{
    width: 95%;
    height: 100%;
    border: 3px solid rgb(255, 0, 76);
}
.content_img_intro>.img_intro{
    border: 3px solid green;
    width: 100%;
    height: 100%;
    overflow: hidden;
}.img_intro>img{width: 100%; height: 100%;background: rgb(0, 0, 0,0.75);}
.content_img_intro>.text_intro{
    position: absolute;
    top: 28%;
    width: 100%;
    height: 10%;
    align-content: center;
    text-align: center;
    background: rgb(0, 0, 0,0.3);
    color: white;
}


/*first_content*/
.first_content{
    height: 24vh;
    width: 100vw;   
    margin-top: 10px;
    background-color: black;
    display: inline-block;
    align-content: center;
    justify-items: center;
    text-align: center;
}
.title{color: white;}
.title_intro_section{
    display: flex;
    justify-items: center;
    text-align: center;
    align-items: center;
    width: 90%;
    height: 80%;
}
/*parte do texto da primeira pagina Container*/
/*textos*/
.text_container{
    width: 60%;
    height: 100%;
}
.text_container>p{
    text-align: justify;
    color: white;
}
/*img*/
.img_container{
    width: 40%;
    height: 100%;
}
.img_container>img{
    display: inline-flex;
    width: 100px;
    height: 100px;
}

/*Segunda parte da tela*/
.second_section{
    width: 100%;
    height: 88vh;
    text-align: center ;
}
.primeiraParte{
    display: flex;
    text-align: center;
    height: 40vh;
}
.primeiraParte>h1{
    color: white;
    background-color: black ;
}
.primeiraParte>.text_content{
    align-items: center;
    align-content: center;
    width: 50%;
    border: 3px solid red;
    height: 100%;
}.text_content>p{
    text-align: justify;
}
.primeiraParte>.imgs_content{
        width: 50%;
        height: 100%;
        border: 3px solid red;
}