*{
    padding: 0px;
    margin:0px;
    border-bottom: 0px;
}
body{
    width: 100vw;
    height: 100vh;
}
a{
    text-decoration: none;
}
ul>li{
    list-style: none;
    text-decoration: none;
    text-shadow: none;
}