footer{
    height: 88vh;
    z-index: 900;
    overflow: visible;
}
.footer {
    background-color: #63022D;
    width: 100%;
    height: 100%;
    padding: 20px 0;
    color: #FFFFFF;
    text-align: center;
    overflow-x: hidden;
}

.footer-title {
    font-weight: 700;
    font-size: 48px;
    line-height: 1.25;
    margin-bottom: 20px;
}

.footer-content {
    display: flex;
    flex-direction: column; 
    align-items: center;  
    gap: 20px;
}

.footer-item {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
}

.footer-item img {
    width: 36px;
    height: 36px;
    padding: 0;    
    box-sizing: border-box;
}

.footer-link {
    font-size: 24px;
    text-decoration: none;
    color: #FFFFFF;
    line-height: 1.5;
}
.footer-map{
    display: block;
    justify-items: center;
    align-content: center;
}
.footer-map iframe{
    width:95vw; height:60vh;
    border-radius: 15px;
    border: 1px solid black;
}
@media screen and  (max-width:768px){
    .footer-map iframe{
        width:95vw; height:30vh;
        border-radius: 15px;
        border: 1px solid black;
    }
}
